##
## .gitignore sample for Epitech projects and 
## unused or unfinished/break files
##

# Ignore .vscode directory
.vscode

# Ignore .o file
*.o

# Ignore .a file
*.a

# Ignore .txt file & mardown files (.md)
! *.txt
! *.md

# Ignore lib README.md
! README.md

# Ignore unused ./lib/ sub-directories & headers
! **/lib_csfml
! **/lib_file_system
! **/lib_printf
! **/lib_bubble_sort
! **/update_queue

# Leave lib headers untracked without lib.h
! **/include/lib_tools_h
! **/include/lib_csfml_h
! **/include/lib_printf_h
! bubble_sort.h

## Ignore NormChecker
NormEZ.rb