##
## .gitignore sample for Epitech projects and 
## unused or unfinished/break files
##

# Ignore .vscode directory
.vscode

# Ignore .o file
*.o

# Ignore .a file
*.a

# Ignore .txt file & mardown files (.md)
! *.txt
! *.md

# Ignore lib README.md
! README.md

# Ignore sub-directories of ./lib/include
! lib/include/algo_h
! lib/include/graphical_h
! lib/include/linked_list_h
! lib/include/my_printf_h
! lib/include/tools_h

# Ignore unused ./lib/source directories
! **/source/algorythm
! **/source/file_system
! **/source/graphical
! **/source/linked_list
! **/source/my_printf
! **/source/tools

# Ignore other special folders
! **/tasks
! **/backup

# Ignore NormChecker
! NormEZ.rb

# Ignore binaries and other unused files
*.out
sandox.c